body {
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

p {
    font-size: 1.2rem;
}

.intro-text {
    font-size: 4rem;
}

.intro-text .allura {
    font-family: 'Allura', cursive;
    font-size: 6rem;
}

p {
    margin: 0.5rem 0;
    font-weight: 500;
}

.highlight {
    color: #007c70;
}

.highlight.dark-mode {
    color: lightcoral;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    padding-right: 0.5rem;
    font-size: 1.5rem;
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    font-weight: 400;
    font-size: 1rem;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a.dark-mode {
    color: rgb(137, 205, 228);
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a.dark-mode:hover {
    color: rgb(111, 151, 165);
}

.about-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1; 
    max-width: 15rem;
    margin-right: 1rem;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.text-container {
    flex: 1;
    text-align: left;
}

.text-container p {
    font-weight: 500;
}

.contact-container {
    width: 25%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: left;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    p {
        font-size: 1.1rem;
    }

    .intro-text {
        font-size: 3.5rem;
    }

    .intro-text .allura {
        font-size: 4.5rem;
    }

    .navbar {
        padding-left: 1rem;
        padding-right: 0.5rem;
    }

    .navbar a {
        font-size: 1.25rem;
    }
    
    footer {
        font-size: 1rem;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .image-container {
        max-width: 80%;
        margin-bottom: 1rem;
    }

    .contact-container {
        width: 70%;
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .intro-text {
        font-size: 3rem;
    }

    .intro-text .allura {
        font-size: 4rem;
    }

    .navbar {
        padding-left: 1rem;
    }

    .navbar a {
        font-size: 1rem;
    }

    footer {
        font-size: 0.9rem;
    }

    .image-container {
        max-width: 0%;
    }
    
    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        padding-top: 0rem;
    }

    .contact-container {
        width: 100%;
        padding: 2rem;
    }

    .wrapper {
        width: 100%;
    }
}